$white: #fff;
$black: #000;
$bg-gradient: linear-gradient(157deg, rgba(147, 239, 217, 0.7), rgba(237, 147, 239, 0.7));
$text-gradient: linear-gradient(128.47deg, #93EFD9 43.72%, #ED93EF 112.09%, #ED93EF 112.09%);
$text-shadow: 4px 4px 30px rgba(189, 0, 255, 0.25);
$mint: #93EFD9;