@import '../assets/abstract/vars.scss';
.description {
    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &-title {
        margin-left: 120px;
        &--text {
        font-size: 80px;
        }
        &--logo {
            color: transparent;    
            background-clip: text;
            background-image: $bg-gradient;
            font-size: 80px;
        }
    }
    &-subtitle {
        max-width: 990px;
        margin: 0 auto;
        &-text {
            &--more {
                font-family: 'Segoe UI';
                font-weight: 200;
                font-size: 40px;
            }
            &--accent {
                font-family: 'Segoe UI';
                font-weight: 700;
                font-size: 40px;
            }
        }
        
    }
}
