@import '../assets/abstract/vars.scss';
@import '../assets/abstract/mixins.scss';

.details {
  margin-bottom: 100px;
  &__container {
    position: relative;
    margin: 0 auto;
    max-width: 1600px;

    @include from-xs-to-lg() {
      padding: {
        left: 40px;
        right: 40px;
      }
    }
  }
}

.imagine-block {
  &__text {
    position: relative;
    max-width: 715px;

    &::before {
      @include from-xs-to-lg() {
        display: none;
      }

      content: "";
      position: absolute;
      background-image: url('/images/details-1.png');
      right: 880px;
      bottom: -600px;
      width: 710px;
      height: 940px;
    }

    &:nth-child(odd) {
      margin-left: auto;

      @include lg() {
        margin-bottom: 792px;
      }
      margin-bottom: 140px;
    }

    &:nth-child(even) {
      @include lg() {
        margin-left: 66px;
      }
      margin-bottom: 200px;
      &::before {
        background-image: url('/images/details-2.png');
        right: 880px;
      }
      .imagine-block__text-inner {
        &::before {
          left: 0;
        }
      }
      .imagine-block__text-inner-part--title,
      .imagine-block__text-inner-part--subtitle {
        padding-left: 0;
        display: block;
      }

      &::before {
        right: auto;
        left: 814px;
        bottom: -103px;
      }
    }

    &:last-child {
      margin-bottom: 140px;
      
      @include lg() {
        margin-bottom: 635px;
      }

      .imagine-block__text-inner {
        &::before {
          left: 0;
          top: -25px;

          @include lg() {
            left: 196px;
          }
        }
      }

      .imagine-block__text-inner-part--title,
      .imagine-block__text-inner-part--subtitle {
        display: block;

        @include lg() {
          margin-left: -57px;
          margin-top: -7px;
        }
      }
      &::before {
        background-image: url('/images/details-3.png');
        bottom: -422px;
      }
    }

    &-inner {
      margin-bottom: 10px;
    }

    &-inner::before {
      content: "";
      position: absolute;
      width: 69px;
      height: 3px;
      left: 0;
      background-image: $text-gradient;
      text-shadow: $text-shadow;
      top: -23px;

      @include lg() {
        left: 256px;
      }
    }

    &-inner-part {
      @include lg() {
        padding-left: 253px;
      }

      @include from-xs-to-lg() {
        display: block;
      }

      &--title,
      &--subtitle {
        font-size: 30px;
        line-height: 32px;
        color: transparent;
        background-clip: text;
        background-image: $text-gradient;
        text-shadow: $text-shadow;
        
        @include lg() {
          line-height: 55px;
          font-size: 50px;
        }
      }
    }

    &-description {
      padding-left: 6px;

      @include lg() {
        width: 700px;
      }

      &-inner {
        font-family: 'Segoe UI';
        font-size: 20px;
        
        @include lg() {
          line-height: 40px;
          font-size: 30px;
        }

        &--light {
          font-weight: 100;
        }

        &--bold {
          font-weight: 700;
        }
      }
    }
  }
}
