@import '../assets/abstract/mixins.scss';

.footer {
    margin: auto auto;
    width: 100%;
    margin-bottom: 60px;

    @include from-xs-to-lg() {
        padding: {
            left: 40px;
            right: 40px;
        }
    }

    @include lg() {
        margin-left: 115px;
    }

    &__social {
        display: flex;
        justify-content: space-between;
        &-media {
            @include from-xs-to-lg() {
                display: none;
            }

            display: flex;
            align-items: center;
            span, a {
                font-size: 20px;
                font-family: 'Segoe UI';
                letter-spacing: 0.04em;
                margin-right: 10px;
            }
        }
        
    }
    &__policy {
        display: flex;
        &-policy {
            margin-right: 20px;
            &--policy, &-agreement {
                font-size:  20px;
                letter-spacing: 0.04em;
                font-family: 'Segoe UI';
            }
            @include from-xs-to-lg() {
                font-size: 15px;
                margin-bottom: 20px;
            }
        }
        
    }
    &__copyright {
        @include from-xs-to-lg() {
            display: none;
        }
        @include lg() {
            margin-left: 31px;
        }
        span {
            @include lg() {
                font-size: 20px;
            }
            font-size: 10px;
            letter-spacing: 0.04em;
            font-family: 'Segoe UI';
        }
        &-text {
            @include from-xs-to-lg() {
                font-size: 14px;
            }
            @include lg() {
                margin-right: 82px;
            }
        }
    }
    .mobile {
        @include lg() {
            display: none;
        }
        @include from-xs-to-lg() {
            display: block;
        }
    }
}