@import '../assets/abstract/vars.scss';

.promote__container {
  margin: auto auto;
  width: 100%;
  max-width: 1600px;
}

.promote {
  margin-left: -96px;
  margin-bottom: 485px;

  &__title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    margin-bottom: 20px;

    &__text {
      font-size: 70px;

      &--accent {
        color: transparent;
        background-clip: text;
        background-image: $bg-gradient;
        text-shadow: $text-shadow;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &__row {
    display: flex;
  }

  &__col {
    width: 100%;
    max-width: 50%;
  }

  &__left,
  &__right {
    display: flex;
    justify-content: space-between;
  }

  &__image-handler {
    padding: 85px 14px 8px 110px;
  }

  &__image {
    width: 310px;
  }

  &__number {
    font-size: 50px;

    &--left {
      margin-top: 482px;
      padding-left: 230px;

      .promote__number__price--left {
        ::after {
          left: 100px;
        }
      }
    }

    &--right {
      margin-top: 413px;
    }

    &__price {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 70px;
        height: 3px;
        background-image: $text-gradient;
        top: 61px;
      }

      span {
        background: $text-gradient;
        text-shadow: $text-shadow;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: $text-shadow;
        font-family: 'Manjari';
      }

      &--left::after {
        left: -11px;
      }

      &--right::after {
        left: 27px;
      }
    }

  }

  &__description {
    padding: 81px 0 0 165px;

    &--right {
      margin-left: -36px;

      &>span {
        margin-left: 222px;
      }
    }

    &-title {
      color: transparent;
      background-clip: text;
      background: $text-gradient;
      text-shadow: $text-shadow;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: $text-shadow;
      font-size: 50px;
      margin-bottom: 20px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 70px;
        height: 3px;
        background-image: $text-gradient;
        bottom: 75px;
        left: 0px;
      }
    }

    &-details {
      font-size: 30px;
      padding-top: 10px;
      font-family: 'Segoe UI';
      line-height: 40px;

      &-light {
        font-weight: 300;
      }

      &-bold {
        font-weight: 700;
      }
    }
  }

  &-access {
    margin-top: 148px;
    margin-left: 83px;

    &--right {
      width: 539px;
      margin-top: 296px;
      margin-left: 43px;
    }

    &__title {
      font-size: 70px;
      &--accent {
        color: transparent;
      background-clip: text;
      background: $text-gradient;
      text-shadow: $text-shadow;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: $text-shadow;
      }
    }

    &__image-handler--left {
      margin-top: 103px;
      margin-left: -54px
    }

    &__description {
      margin-top: 207px;

      &-title {
        display: block;
        max-width: 545px;
        padding-bottom: 19px;
        line-height: 50px;
        font-size: 50px;
        color: transparent;
        background-clip: text;
        background: $text-gradient;
        text-shadow: $text-shadow;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: $text-shadow;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          width: 70px;
          height: 3px;
          background-image: $text-gradient;
          left: 2px;
          top: -24px;
          text-shadow: $text-shadow;
        }
      }

      &-details {
        font-size: 30px;
        padding-top: 10px;
        font-family: "Segoe UI";
        line-height: 40px;
        max-width: 682px;

        &-light {
          font-weight: 300;
          &--accent {
            text-transform: uppercase;
            color: $mint;
            text-shadow: $text-shadow;
          }
        }
        &-bold {
          font-weight: 700;
        }
      }
      &--bottom {
        margin-top: 114px;
        margin-left: -137px;
        width: 683px;
      }
    }
  }
}
