@import '../assets/abstract/vars.scss';

.promote__container {
  margin: auto auto;
  width: 100%;
  max-width: 1600px;
}

.promote {
  &__title {
    text-align: center;
    margin-bottom: 50px;
    color: transparent;
    background-clip: text;
    background: $text-gradient;
    text-shadow: $text-shadow;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: $text-shadow;
    font-size: 50px;
    margin-bottom: 20px;
    position: relative;

    &__text {
      font-size: 70px;
      &--accent {
        color: transparent;
        background-clip: text;
        background-image: $bg-gradient;
        text-shadow: $text-shadow;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &__row {
    display: flex;
  }

  &__col {
    width: 100%;
    max-width: 50%;
  }

  &__left,
  &__right {
    display: flex;
    justify-content: space-between;
  }

  &__image-handler {
    padding: 0 50px;

    &--left {
      &::before {
        left: -200px;
      }
    }

    &--right {
      &::before {
        right: -200px;
      }
    }
  }

  &__image {
    width: 310px;
  }

  &__number {
    font-size: 60px;
    &--left {
      margin-top: 200px;
      padding-left: 30px;
    }

    &--right {
      margin-top: 220px;
    }
  }
}

// .promote {
//   &__container {
//     margin: auto auto;
//     width: 100%;
//     max-width: 1600px;
//   }

//   &-title {
//     text-align: center;
//     margin-bottom: 50px;
//     
//   }

//   &__body {
//     display: flex;
//   }

//   &__left, 
//   &__right {
//     width: 100%;
//     max-width: 50%;
//     display: flex;
//   }

//   &__left {
//     justify-content: flex-end;
//   }
//   &__right {
//     justify-content: flex-start;
//   }
//   &__image-handler {
//     padding: 0 50px;
//     position: relative;
//     &--left {
//       &::before {
//         left: -200px;
//       }
//     }

//     &--right {
//       &::before {
//         right: -200px;
//       }
//     }
//   }
//   &__image {
//     width: 310px;
//   }

//   &__number {
//     font: {
//       size: 60px;
//     }
//     &--left {
//       margin-right: 50px;
//       margin-top: 200px;
//     }

//     &--right {
//       margin-top: 220px;
//     }
//   }
// }

// .promote-numbers {
//   &--left {
//     justify-content: flex-end;
//     position: relative;
//     margin-right: 50px;
//     .promote-numbers{
//       &__description {
//         margin-left: 72px;

//         &-title {
//           color: transparent;
//           background-clip: text;
//           background: $text-gradient;
//           text-shadow: $text-shadow;
//           -webkit-background-clip: text;
//           -webkit-text-fill-color: transparent;
//           text-shadow: $text-shadow;
//           font-size: 50px;
//           margin-bottom: 20px;
//           position: relative;

//           &::before {
//             position: absolute;
//             content: '';
//             width: 70px;
//             height: 3px;
//             background-image: $text-gradient;
//             bottom: 75px;
//             left: 0px;
//           }
//         }

//         &-details {
//           font-size: 30px;
//           padding-top: 10px;
//           font-family: 'Segoe UI';
//           line-height: 40px;

//           &-light {
//             font-weight: 300;

//           }

//           &-bold {
//             font-weight: 700;
//           }

//         }
//       }
//     }
//   }
// }
